# Database Configuration
db.host=localhost
db.name=javabank
db.username=postgres
db.password=pass
schema.auto=create
debug.sql=true

# AI Configuration
ai.api_key=XXXXXXXXXX
ai.chat.model=gpt-4o
ai.temperature=0.4
