# Test Settings
test.debug=true
test.h2.port=8082
test.h2.location=/tmp/db
test.jdbc.username=sa
test.jdbc.password=
test.jdbc.database=javabank
test.schema.auto=create

# Dev Settings
dev.debug=true
dev.jdbc.username=postgres
dev.jdbc.password=
dev.jdbc.host=localhost
dev.jdbc.database=javabank

# Prod Settings
prod.debug=false
prod.jdbc.username=postgres
prod.jdbc.password=
prod.jdbc.host=localhost
prod.jdbc.database=javabank

# Common settings
pool.min=1
pool.max=10
